In [1]:
import numpy as np
import os
import pandas as pd
os.chdir('c:/Users/admin/OneDrive/Documents/TrabajoTesis')

In [2]:
df = pd.read_csv('NeoModelos/minas_con_tiempos_puertos.csv')

In [3]:
df = df[df['Estado'] == 'ACTIVA']
df = df[(df['RecursoPrimarioInstalacion'] == 'COBRE') | (df['RecursoMineroInstalacion'] == 'SALMUERA (LITIO)')]

In [4]:
keep = ['NombreEmpresa','RegionFaena','IdFaena','Latitud','Longitud']
df = df[keep]

In [10]:
regions = df['RegionFaena'].value_counts()
regions

RegionFaena
III    2372
IV     1768
V      1480
II     1453
RM      400
VI      256
I       149
XV       50
VII       2
Name: count, dtype: int64

In [5]:
df

,NombreEmpresa,RegionFaena,IdFaena,Latitud,Longitud
0,EMPRESA NACIONAL DE MINERIA (ENAMI),III,153576,-28.566725,-70.740064
3,GARY NELSON MERCADO MALBRAN,III,20013237,-26.411292,-70.414104
12,EMPRESA NACIONAL DE MINERIA (ENAMI),II,1535725,-23.433750,-70.017620
13,EMPRESA NACIONAL DE MINERIA (ENAMI),III,153577,-26.419532,-70.317954
14,EMPRESA NACIONAL DE MINERIA (ENAMI),III,153577,-26.418949,-70.317596
...,...,...,...,...,...
15140,SERVICIOS HC LOS LAURELES SPA,IV,20383565,-30.897660,-71.118359
15142,MINERA EDUARDO GALVEZ TORRES EIRL.,III,20386616,-27.600627,-70.367233
15148,MINERIA CRISTIAN MIGUEL CORTES BUSTOS E.I.R.L,II,20346568,-25.488288,-70.203799
15149,ARIES MINING SPA,III,20388606,-27.076974,-69.994574
15151,MINERA HMC S.A.,II,20104418,-22.689555,-70.176743

In [6]:
df.to_csv('NeoModelos/minas_ll.csv', index=False)